{% extends 'basefront.html.twig' %}



{% block body %}
<title>Avis index</title>
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdAvis</th>
                <th>Idr</th>
                <th>Commentaire</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.idAvis }}</td>
                <td>{{ avi.idr }}</td>
                <td>{{ avi.commentaire }}</td>
                <td>{{ avi.note }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'idAvis': avi.idAvis}) }}">show</a>
                    <a href="{{ path('app_avis_edit', {'idAvis': avi.idAvis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Create new</a>
{% endblock %}
